/* reset hardcoded bootstrap font sizes */
body, p, blockquote p, code, pre, * { font-size: 100%; }

.caption { font-size: small; color: #555; font-style: italic; }
.caption .attribution { font-size: xx-small; color: #666; font-style: italic; }
.sitetitle { margin-bottom: 20px; margin-top: 10px; font-size: 34px; }
.sitetitle .meta { font-size: 16px; }

/* prevent vertical overlap */
code { padding: 0px 2px; }

address { font-size: small; font-style: italic; }

.showcase { margin-bottom: 20px; margin-top: 20px; }
.showcase img { border: 1px solid #aaa; margin-top: 2px; }
